.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--white-color);
    cursor: pointer;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-flex;
    align-items: center;
    width: 24px;
    text-align: center;
}

// Button types
.primary {
    color: var(--white-color);
    background-color: teal;
    &:hover {
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
    }
}

.outline {
    color: var(--primary);
    border: 1px solid currentColor;
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
